<h1 class="text-center title">Registrar Cliente</h1>

<div class="container">
  <form [formGroup]="clienteForm" (ngSubmit)="guardarCliente()">
    <div class="form-group">
      <label for="formGroupExampleInput">Nombre</label>
      <input type="text" class="form-control" formControlName = "nombre" placeholder="Ingrese el nombre ">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Apellido</label>
      <input type="text" class="form-control" formControlName = "apellido" placeholder="Ingrese el apellido">
    </div>
    <div class="form-group">
        <label class="form-label">Genero</label>
              <select class = "form-control" formControlName = "genero">
                <option [ngValue]="item" *ngFor="let item of generos">{{item.nombre}}</option>
            </select>
    </div>
    <div class="form-group">
        <label class="form-label">Tipo Identificacion</label>
              <select class = "form-control" formControlName = "tipoIdentificacion">
                <option [ngValue]="item" *ngFor="let item of tipoIdentificaciones">{{item.nombre}}</option>
            </select>
    </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Numero Documento</label>
        <input type="number" class="form-control"  formControlName = "numeroDocumento" placeholder="Ingrese el numero de documento">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Numero Telefonico</label>
        <input type="number" class="form-control" formControlName = "numeroTelefonico" placeholder="Ingrese el numero telefonico">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Correo Electronico</label>
        <input type="email" class="form-control" formControlName = "correoElectronico" placeholder="Ingrese el correo Electronico">
      </div>
      <div class="form-group">
        <label for="inputPassword6">Contraseña</label>
        <input type="password" class="form-control" aria-describedby="passwordHelpInline" formControlName = "password" placeholder="Ingrese una contraseña">
      </div>
      <div class="form-group">
        <button type="submit">Registrar Cliente</button>
      </div>
  </form>
</div>